<h1>Listing uploads</h1>

<table>
  <thead>
    <th>file name</th>
    <th>file size</th>
    <th>owner</th>
    <th>download count</th>
    <th>description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @uploads.each do |upload| %>
  <tr>

    <% if upload.file.exists? %>
      <td><%= link_to upload.file_file_name, file_upload_path(upload) %></td>
    <% else %>
      <td>
        <% if upload.guest_token %>
          <%= link_to "guest link", guest_upload_path(upload.guest_token) %>
        <% end %>
      </td>
    <% end %>

    <td><%= number_to_human_size(upload.file_file_size) %></td>
    <td><%= upload.user.login %></td>
    <td><%= upload.download_count %></td>
    <td><%= upload.description %></td>

    <% if upload.locked? %>
      <td><%= link_to 'Unlock', unlock_upload_path(upload), :method=>:post %></td>
    <% else %>
      <td><%= link_to 'Lock', lock_upload_path(upload), :method=>:post %></td>
    <% end %>

    <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
    <td><%= link_to 'Destroy', upload, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
