<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% current_folder_id = params[:id].to_i %>

<ul class="folders">
  <% folders.each do |folder| %>
    <li>
      <%= image_tag "dir.png" %>
      <% if folder.id == current_folder_id %>
        <%= link_to folder.name, folder, :class => "current_folder" %>
      <% else %>
        <%= link_to folder.name, folder %>
      <% end %>
    </li>
    <ul>
      <% folder.folders.each do |subfolder| %>
      <li>
        <%= image_tag "dir.png" %>
        <% if subfolder.id == current_folder_id %>
          <%= link_to subfolder.name, subfolder, :class => "current_folder" %>
        <% else %>
          <%= link_to subfolder.name, subfolder %>
      <% end %>
      </li>
      <% end %>
    </ul>
  <% end %>
    <li><%= link_to "new folder", :controller => "folders", :action => "new" %></li>

    
</ul>
