<!DOCTYPE html>
<html>
<head>
  <title>DownloadManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <h1>Der neue schicke DownloadManager</h1>
  <p style="text-align: right;">(in Ruby/Rails geschrieben, was dem Steven missfällt.)</p>

  <ul class="navigation">
    <li><%= link_to "downloads", :controller => "uploads", :action => "index" %></li>
    <li><%= link_to "logout", :controller=>"users", :action=>"logout" %></li>
  </ul>

  <% if flash[:error] %>
    <p id="alert"><%= flash[:error] %></p>
  <%  end %>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %> </p>
  <% end %>

  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <%  end %>

  <%= render :partial => "layouts/folders", :locals => {:folders => all_folders} %>

<%= yield %>

</body>
</html>
